body {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  width: 500pt;
  height: 500pt;
  border: solid red 1pt;
}

.title{ 
  grid-column: 1/2;
  grid-row: 1/2;
  border: solid black 2pt;
  margin: 20pt 5pt;
  padding: 2pt 5pt;

}

