body {
  height: 50vh;
  max-width: 100%;
}

.header {
  background-color: #d64161;
  color: white;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lora', serif;
}

h1 {
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 2em;
  display: flex;
  align-content: center;
}

.main-body {
  max-height: auto;
  background-color: #ff7b25;
  color: white;  
}

.main-body-area {
  height: 50vh;
  display: flex;
  flex-direction: row;
}

.box {
  height: 15px;
  width: 105px;
}

.blue {
  background-color: #33A8DD;
}

.red {
  background-color: #6b5b95;
}

.green {
  background-color: #2BCDC0;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Merriweather', serif;
}

@media (max-width: 576px) {
  .main-body-area{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #F7F5F6;
    color: black;
  }
  .header {
    background-color: #563f46;
  }
}
